# Jangan upload node_modules di frontend
frontend/node_modules/

# Kalau ada node_modules di backend juga
backend/node_modules/

# Env files
.env
.env.local
.env.*.local

# Public folder
public/
vendor/

